.TodosCards{
    display: flex;
    justify-content: space-evenly;


}



.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 250px;
    border: 2px solid #821B47;
    border-radius: 5px;
}

.card:hover{
    box-shadow:  0 0 10px 5px #821B47 ;
    transition: 0.3s;
}

.card__titulo{
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;   
    align-items: center;
    padding-top: 20;
}

.card__texto{
    font-size: 16px;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    height: 72px;
    width: 192;
    padding-top: 20;
}

.card__connect{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    padding-top: 10;
    border: 2px solid #B51D44;
    border-radius: 5px;

    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;


}

.card__connect--disabled{
    color: lightgray;
    cursor: not-allowed;
}

.card__connect:hover{

    background-color:magenta;
    transition: all 0.2s;

    
}
